// plazarjs
// version: ###version###
// author: ###author###
// license: ###license###
(function (global, factory) {
   typeof exports === 'object' && typeof module !== 'undefined' ? module.exports = factory() :
   typeof define === 'function' && define.amd ? define(factory) :
   (global.###namespace### = factory());
}(this, (function () {
'use strict';
###content###
return ###namespace###;
})));